<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="carte">
    <head>
        <title>Carte Odyssée</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="bootstrap-3.3.4-dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="app/carte.css"/>
    </head>
    <body ng-controller="PageController as page">
        <header class="main">
            <form name="reviewForm" novalidate>
                <h1>{{page.title}} :                
                    <select ng-model="page.clazz" ng-options="c for c in page.clazzes" ng-change="page.reload()">
                    </select>
                </h1>
            </form>

            <nav class="navbar">
                <ul class="navbar-left" ng-show="!page.isStart">
                    <li class="summary" ng-click="page.showSummary()"><img src="app/images/sum.png"></li>
                    <li class="art" ng-click="page.showImage()"><img src="app/images/oeuvr.png"></li>
                    <li class="sound" ng-click="page.playSound()"><img src="app/images/son.png"></li>
                </ul>
                <h2 class="navbar-right"><span ng-show="page.author">par {{page.author}}</h2>

            </nav>
            <!--<div ng-show="page.relX || page.relY">{{page.relX+', '+page.relY}}</div>-->
        </header>
        <div class="main">
            <section ng-class="{map:true, main:true, fadded:page.currentPageIndex}" ng-click="page.mapClick($event)">
                <div ng-class="{'art':true,'expanded':page.expanded}" ng-show="page.image">
                    <img ng-class="{'art':true,'expanded':page.expanded}"  ng-src="{{'data/' + page.clazz + '/images/' + page.image}}" ng-click="page.expandImage()">
                    <div class="caption" ng-show="page.caption && !page.expanded" ng-bind-html="page.caption"></div>
                </div>
                <div class="summary" ng-show="page.summary">
                    <div ng-bind-html="page.summary"></div>
                </div>
                <!--                <div class="nav" ng-show="page.isStart">
                                    <button ng-repeat="p in page.pages" ng-click="page.goTo($index)" value="XX" >ee</button>
                                </div>-->
            </section>
            <footer class="main">
                <nav class="navbar">
                    <a href="carte.zip" class="navbar-left" onclick="alert('Vous allez télécharger la carte de l\'odyssée.\n\nUne fois téléchargée :\n\t* Clic droit sur carte.zip puis Extraire tout.\n\t* Dans le répertoire créé, double cliquer sur index.html pour lancer la carte.')">
                        <span class="glyphicon glyphicon-download-alt"></span>
                    </a>
                    <ul class="navbar-right">
                        <li class="previous" ng-show="!page.isStart" ng-click="page.prev()"><img src="app/images/button_prev.png"></li>
                        <li class="gomap" ng-show="!page.isStart" ng-click="page.reset()"><img src="app/images/button_carte.png"></li>
                        <li class="next" ng-show="!page.isEnd" ng-click="page.next()"><img src="app/images/button_next.png"></li>
                    </ul>
                </nav>
            </footer>
        </div>
        <script src="js/libs/angular.js" ></script>
        <script src="js/libs/jquery-2.1.3.min.js"></script>
        <script src="app/carte.js"></script>

    </body>
</html>
